In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

In [2]:
data = pd.read_csv('owid-covid-data.csv')
data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [3]:
data.shape

(70444, 59)

In [4]:
data.isna().sum()

iso_code                                     0
continent                                 3508
location                                     0
date                                         0
total_cases                                904
new_cases                                  906
new_cases_smoothed                        1907
total_deaths                              9906
new_deaths                                9748
new_deaths_smoothed                       1907
total_cases_per_million                   1285
new_cases_per_million                     1287
new_cases_smoothed_per_million            2283
total_deaths_per_million                 10274
new_deaths_per_million                   10116
new_deaths_smoothed_per_million           2283
reproduction_rate                        13887
icu_patients                             62971
icu_patients_per_million                 62971
hosp_patients                            61562
hosp_patients_per_million                61562
weekly_icu_admissions                    69742
weekly_icu_admissions_per_million        69742
weekly_hosp_admissions                   69289
weekly_hosp_admissions_per_million       69289
new_tests                                38441
total_tests                              38579
total_tests_per_thousand                 38579
new_tests_per_thousand                   38441
new_tests_smoothed                       33951
new_tests_smoothed_per_thousand          33951
positive_rate                            35368
tests_per_case                           35887
tests_units                              32666
total_vaccinations                       68035
people_vaccinated                        68411
people_fully_vaccinated                  69133
new_vaccinations                         68405
new_vaccinations_smoothed                66924
total_vaccinations_per_hundred           68035
people_vaccinated_per_hundred            68411
people_fully_vaccinated_per_hundred      69133
new_vaccinations_smoothed_per_million    66924
stringency_index                         10068
population                                 390
population_density                        4592
median_age                                6317
aged_65_older                             7057
aged_70_older                             6679
gdp_per_capita                            6159
extreme_poverty                          26520
cardiovasc_death_rate                     5553
diabetes_prevalence                       4753
female_smokers                           19349
male_smokers                             20050
handwashing_facilities                   37897
hospital_beds_per_thousand               10962
life_expectancy                           3500
human_development_index                   5574
dtype: int64

In [5]:
data[data.total_cases.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
364,OWID_AFR,NaN,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
740,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
741,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
742,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795

In [6]:
data[data.new_cases.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
739,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
740,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
741,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
742,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
743,ALB,Europe,Albania,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795

In [7]:
data[(data.total_cases > 0) & (data.new_cases.isna())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
13377,CHN,Asia,China,2020-01-22,548.0,NaN,NaN,17.0,NaN,NaN,...,15308.712,0.7,261.899,9.74,1.9,48.4,NaN,4.34,76.91,0.761
32278,JPN,Asia,Japan,2020-01-22,2.0,NaN,NaN,NaN,NaN,NaN,...,39002.223,NaN,79.370,5.72,11.2,33.7,NaN,13.05,84.63,0.919
58753,KOR,Asia,South Korea,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,35938.374,0.2,85.998,6.80,6.2,40.9,NaN,12.27,83.03,0.916
62069,TWN,Asia,Taiwan,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,103.957,NaN,NaN,NaN,NaN,NaN,80.46,NaN
63125,THA,Asia,Thailand,2020-01-22,4.0,NaN,NaN,NaN,NaN,NaN,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.67,2.10,77.15,0.777
65188,TUR,Asia,Turkey,2020-12-10,1748567.0,NaN,27440.143,15751.0,220.0,205.0,...,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69,0.820
66764,USA,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926

In [8]:
data[data.new_cases_smoothed.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [9]:
data[data.total_deaths.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [10]:
data[data.new_deaths.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [11]:
data[data.new_deaths_smoothed.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [12]:
data[data.reproduction_rate.isna()].iso_code.value_counts()

OWID_NAM    397
OWID_ASI    397
OWID_EUR    396
OWID_EUN    396
OWID_OCE    394
FJI         389
OWID_INT    381
OWID_AFR    375
OWID_SAM    366
VAT         353
TLS         337
LAO         335
KNA         334
DMA         292
VCT         279
GRD         275
LCA         237
ATG         200
LIE         175
BTN         148
BLZ         138
PNG         137
SLB         133
GMB         127
SYC         120
BRB         118
MHL         117
MCO         115
NAM         105
NPL         105
           ...
KGZ          15
KAZ          15
UZB          15
IDN          15
COL          14
BGR          14
SAU          14
VEN          14
NOR          14
GHA          14
AUT          14
SVK          14
NLD          13
PER          13
QAT          13
PAN          12
POL          12
MUS          12
MAC          11
AIA          11
TUR          10
IRN           9
OWID_NCY      9
FLK           9
URY           9
TJK           5
OWID_WRL      2
CHN           2
SHN           1
GRL           1
Name: iso_code, Length: 214, dtype: int64

In [13]:
data[data.total_vaccinations > 0].iso_code.value_counts()

OWID_WRL    67
ISR         65
CHL         60
CZE         57
ITA         57
OWID_EUN    57
DEU         57
FRA         56
BHR         56
SVN         56
DNK         56
ROU         56
NOR         54
EST         54
MEX         53
POL         53
BEL         52
HUN         52
GRC         51
LTU         50
BGR         50
USA         50
SVK         48
GBR         46
ARE         45
FIN         42
OMN         41
GIB         40
TUR         39
AUT         39
            ..
ZAF          4
LIE          4
ECU          4
JEY          4
KWT          3
PAK          3
KHM          3
JPN          3
GGY          3
NZL          2
MAC          2
IRN          2
AIA          2
DZA          2
OWID_NCY     2
LBN          2
MMR          2
NPL          2
MUS          2
QAT          2
DOM          1
BLR          1
GUY          1
GRL          1
FLK          1
EGY          1
SHN          1
AZE          1
MCO          1
TCA          1
Name: iso_code, Length: 99, dtype: int64

In [14]:
values = {
    'total_cases': 0, 
    'new_cases': 0, 
    'new_cases_smoothed': 0,
    'total_deaths': 0, 
    'new_deaths': 0,
    'new_deaths_smoothed': 0,
    'total_cases_per_million': 0,
    'new_cases_per_million': 0,
    'new_cases_smoothed_per_million': 0,
    'total_deaths_per_million': 0,
    'new_deaths_per_million': 0,
    'new_deaths_smoothed_per_million': 0,
    'total_vaccinations': 0,
    'people_vaccinated': 0,
    'people_fully_vaccinated': 0,
    'new_vaccinations': 0,
    'new_vaccinations_smoothed': 0,
    'total_vaccinations_per_hundred': 0,
    'people_vaccinated_per_hundred': 0,
    'people_fully_vaccinated_per_hundred': 0,
    'new_vaccinations_smoothed_per_million': 0}

data.fillna(value=values, inplace=True)
data.isna().sum()

iso_code                                     0
continent                                 3508
location                                     0
date                                         0
total_cases                                  0
new_cases                                    0
new_cases_smoothed                           0
total_deaths                                 0
new_deaths                                   0
new_deaths_smoothed                          0
total_cases_per_million                      0
new_cases_per_million                        0
new_cases_smoothed_per_million               0
total_deaths_per_million                     0
new_deaths_per_million                       0
new_deaths_smoothed_per_million              0
reproduction_rate                        13887
icu_patients                             62971
icu_patients_per_million                 62971
hosp_patients                            61562
hosp_patients_per_million                61562
weekly_icu_admissions                    69742
weekly_icu_admissions_per_million        69742
weekly_hosp_admissions                   69289
weekly_hosp_admissions_per_million       69289
new_tests                                38441
total_tests                              38579
total_tests_per_thousand                 38579
new_tests_per_thousand                   38441
new_tests_smoothed                       33951
new_tests_smoothed_per_thousand          33951
positive_rate                            35368
tests_per_case                           35887
tests_units                              32666
total_vaccinations                           0
people_vaccinated                            0
people_fully_vaccinated                      0
new_vaccinations                             0
new_vaccinations_smoothed                    0
total_vaccinations_per_hundred               0
people_vaccinated_per_hundred                0
people_fully_vaccinated_per_hundred          0
new_vaccinations_smoothed_per_million        0
stringency_index                         10068
population                                 390
population_density                        4592
median_age                                6317
aged_65_older                             7057
aged_70_older                             6679
gdp_per_capita                            6159
extreme_poverty                          26520
cardiovasc_death_rate                     5553
diabetes_prevalence                       4753
female_smokers                           19349
male_smokers                             20050
handwashing_facilities                   37897
hospital_beds_per_thousand               10962
life_expectancy                           3500
human_development_index                   5574
dtype: int64

In [15]:
data[data.population.isna()].iso_code.value_counts()

OWID_INT    381
OWID_NCY      9
Name: iso_code, dtype: int64

In [16]:
data[data.population_density.isna()].iso_code.value_counts()

TWN         403
OWID_NAM    397
OWID_ASI    397
OWID_EUN    396
OWID_EUR    396
OWID_OCE    394
OWID_INT    381
OWID_AFR    375
OWID_SAM    366
VAT         353
SYR         337
SSD         323
GGY          22
JEY          22
AIA          11
FLK           9
OWID_NCY      9
SHN           1
Name: iso_code, dtype: int64

In [17]:
len(data[data.iso_code == 'JEY'])

22

In [18]:
data[data.continent.isna()].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
364,OWID_AFR,NaN,Africa,2020-02-13,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,OWID_AFR,NaN,Africa,2020-02-14,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,OWID_AFR,NaN,Africa,2020-02-15,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,OWID_AFR,NaN,Africa,2020-02-16,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,OWID_AFR,NaN,Africa,2020-02-17,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
data[data.continent.isna()].iso_code.value_counts()

OWID_NAM    397
OWID_ASI    397
OWID_WRL    397
OWID_EUN    396
OWID_EUR    396
OWID_OCE    394
OWID_INT    381
OWID_AFR    375
OWID_SAM    366
OWID_NCY      9
Name: iso_code, dtype: int64

In [20]:
data.continent.value_counts()

Africa           18518
Europe           17036
Asia             16870
North America     8248
South America     4301
Oceania           1963
Name: continent, dtype: int64

In [21]:
summary_data = data[data.continent.isna()]
cleaned_data = data.drop(summary_data.index)
summary_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
364,OWID_AFR,NaN,Africa,2020-02-13,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,OWID_AFR,NaN,Africa,2020-02-14,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,OWID_AFR,NaN,Africa,2020-02-15,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,OWID_AFR,NaN,Africa,2020-02-16,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368,OWID_AFR,NaN,Africa,2020-02-17,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN